.bg-gradient {
    background: linear-gradient(45deg, #007bff, #00c6ff);
}

.btn-gradient {
    background: linear-gradient(45deg, #007bff, #00c6ff);
    border: none;
    color: white !important;
    transition: 0.3s ease-in-out;
}

    .btn-gradient:hover {
        background: linear-gradient(45deg, #0056b3, #0086b3);
        transform: scale(1.05);
    }
