@model IEnumerable<UserManagerVM>

<h2>Users</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Manage Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>
                    <a asp-action="ManageUserRoles" asp-route-userName="@user.UserName"
                       class="btn btn-primary btn-sm">Manage Roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
