@model HeaLEOO.ALLServices.ServiceVM

@{
    ViewData["Title"] = "Delete Service";
}

@model HeaLEOO.ALLServices.ServiceVM


<h2>Delete Service</h2>

<h3>Are you sure you want to delete this service?</h3>
