@model IEnumerable<HeaLEOO.ViewModels.AppointmentsVM>

<h2>Available Appointments</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>Doctor</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var app in Model)
        {
            <tr>
                <td>@app.App_Date.ToString("dd/MM/yyyy HH:mm")</td>
                <td>@app.DoctorName</td>
                <td>@app.status</td>
            </tr>
        }
    </tbody>
</table>
