@model HeaLEOO.ViewModels.LoginVM
@{
    ViewData["Title"] = "Login";
}

<div class="login-split-container">
    <div class="login-left">
        <img src="~/images/DocWallpaper1.png" alt="Doctor" />
    </div>

    <div class="login-right">
        <div class="login-container">
            <div class="login-card">
                <h2 class="login-title">Welcome back</h2>
                <p class="login-second-line">Please enter your details below</p>

                <form asp-action="Login" method="post" class="login-form">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-2"></div>
                    <div class="form-group mb-3 text-start">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="Email Address" />
                        <span asp-validation-for="Email" class="text-danger d-block"></span>
                    </div>

                    <div class="form-group mb-3 text-start position-relative">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" type="password" placeholder="Password" id="loginPassword" />
                        <span class="toggle-password" onclick="togglePassword('loginPassword')">
                            <i class="fa fa-eye"></i>
                        </span>
                        <span asp-validation-for="Password" class="text-danger d-block"></span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="form-check">
                            <input asp-for="RememberMe" class="form-check-input" />
                            <label asp-for="RememberMe" class="form-check-label">Remember me</label>
                        </div>
                    </div>

                    <button type="submit" class="btn-login w-100 mb-2">Sign in</button>
                </form>

                <p class="login-footer-text mt-3">
                    Don’t have an account?
                    <a asp-controller="Auth" asp-action="Register" class="login-link">Sign up</a>
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/login.js"></script>
}
