@model HeaLEOO.ViewModels.LoginVM
@{
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="~/css/style.css">
</head>

<div class="auth-split-container">
    <div class="auth-left">
        <img src="~/images/DocWallpaper1.png" alt="Doctor" />
    </div>

    <div class="auth-right">
        <div class="auth-container login-page">
            <div class="auth-card">
                <h2 class="auth-title-login-page">Welcome back</h2>
                <p class="second-line">Please enter your details below</p>

                <form asp-action="Login" method="post" class="auth-form">
                    @Html.AntiForgeryToken()

                    <div class="form-group mb-3 text-start">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="Email Address" />
                        <span asp-validation-for="Email" class="text-danger d-block"></span>
                    </div>

                    <div class="form-group mb-3 text-start position-relative">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" type="password" placeholder="Password" id="loginPassword" />
                        <span class="toggle-password" onclick="togglePassword('loginPassword')">
                            <i class="fa fa-eye"></i>
                        </span>
                        <span asp-validation-for="Password" class="text-danger d-block"></span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="form-check">
                            <input asp-for="RememberMe" class="form-check-input" />
                            <label asp-for="RememberMe" class="form-check-label">Remember me</label>
                        </div>
                    </div>

                    <button type="submit" class="btn-login w-100 mb-2">Sign in</button>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        var errorMessage = ViewData.ModelState.Values.SelectMany(v => v.Errors)
                        .FirstOrDefault()?.ErrorMessage;
                        if (!string.IsNullOrEmpty(errorMessage))
                        {
                            <input type="hidden" id="serverError" value="@errorMessage" />
                        }
                    }
                </form>

                <p class="auth-footer-text mt-3">
                    Don’t have an account?
                    <a asp-controller="Auth" asp-action="Register" class="auth-link">Sign up</a>
                </p>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/login.js"></script>
}