<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healeo | @ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/images/HealeoLogoLOG.png">

    <!-- Bootstrap & Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">

    <!-- Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap">

    <!-- Animations -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <!-- Shared Styles -->
    <link rel="stylesheet" href="~/css/shared/global.css" />
    <link rel="stylesheet" href="~/css/shared/header.css" />
    <link rel="stylesheet" href="~/css/shared/footer.css" />

    <!-- Pages Styles -->
    <link rel="stylesheet" href="~/css/pages/login.css" />
    <link rel="stylesheet" href="~/css/pages/register.css" />
    <link rel="stylesheet" href="~/css/pages/index.css" />
    <link rel="stylesheet" href="~/css/pages/about.css" />
    <link rel="stylesheet" href="~/css/pages/dashboard.css" />

    <link rel="stylesheet" href="~/css/pages/clinics.css" />
    <link rel="stylesheet" href="~/css/pages/doctors.css" />
    <link rel="stylesheet" href="~/css/pages/services.css" />
    <link rel="stylesheet" href="~/css/pages/appointments.css" />

    <link rel="stylesheet" href="~/css/adminPages/userManagement.css" />
    <link rel="stylesheet" href="~/css/adminpages/roles.css" />

    <link rel="stylesheet" href="~/css/views/specializations/add.css" />
    <link rel="stylesheet" href="~/css/views/specializations/index.css" />

</head>